
// transition 动画
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-blur-in {
  from {
    filter: blur(20px) brightness(0.3);
    transform: scale(1.6);
  }
  to {
    filter: blur(0) brightness(1);
    transform: scale(1.2);
  }
}

@keyframes fade-blur-main-in {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

/* 定义闪烁动画 */
@keyframes blink {
  0% { opacity: 1; } /* 初始状态，完全可见 */
  50% { opacity: 0.2; } /* 中间状态，完全不可见 */
  100% { opacity: 1; } /* 最终状态，再次完全可见 */
}
/* 选中时背景虚化 */
@keyframes pick-on {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* 选中时框颜色变化 */
@keyframes color-none {
  0% {
    background-color: #00000040;
    backdrop-filter: blur(15px);
  }
  100% {
    background-color: #eee;
    backdrop-filter: none;
  }
}
@keyframes color-return {
  0% {
    background-color: #eee;
    backdrop-filter: none;
  }
  100% {
    background-color: #00000040;
    backdrop-filter: blur(15px);
  }
}
/* 取消选中时搜索框复原 */
@keyframes pick-cancel {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* 选中时搜索框移动 */
@keyframes input-move {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-120px)
  }
}
/* 取消选中时搜索框复原 */
@keyframes input-return {
  0% {
    transform: translateY(-120px)
  }
  100% {
    transform: translateY(0)
  }
}
/* 鼠标移入动画 */
@keyframes mouse-shadow {
  100% {
    color: #fff;
    box-shadow: 0 0 10px #eff4fc;
  }
}
/* 下拉框载入动画 */
@keyframes drop-down {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(50px)
  }
  100% {
    transform: translateY(0)
  }
}
/* 鼠标移入动画 */
@keyframes drop-up {
  0% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0)
  }
}