@import "./reset.scss";
@import "./var.scss";
@import './font.scss';
@import './frames.scss';

html,
body {
  margin: 0;
  overflow: hidden;
}
#app {
}

#head {
  height: $headHeight;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.img-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  background-size:cover;
  transition:
          filter 0.3s,
          transform 0.3s;
  animation: fade-blur-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;

}
.icon {
  width: 1em;
  height: 1em;
  font-size: 24px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}