@font-face {
  font-family: "iconfont"; /* Project id 4266408 */
  src: url('iconfont.woff2?t=1695646190452') format('woff2'),
       url('iconfont.woff?t=1695646190452') format('woff'),
       url('iconfont.ttf?t=1695646190452') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e6f2";
}

.icon-icon:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-cdn:before {
  content: "\e66c";
}

.icon-github:before {
  content: "\e6b7";
}

.icon-baidu-circle-fill:before {
  content: "\e82e";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-google:before {
  content: "\e87a";
}

.icon-bilibili-line:before {
  content: "\e66d";
}

